{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% if title %}
    <title>Django blog--{{title}}</title>
    {% else %}
    <title>Django blog</title>
    {% endif %}
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" style="background-color: cadetblue;">
            <div class="p-3 mb-2 text-dark container-fluid" >
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about/">About</a>
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" aria-current="page" href="/logout/">Logout</a>
                {% else %}
                  <a class="nav-link" aria-current="page" href="/register/">Resigter</a>
                  <a class="nav-link" aria-current="page" href="/login/">Login</a>
                  {% endif %}
                </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/">Admin</a>
              </li>
              
            </ul>
            </div>
          </div>
         
        </div>
      </nav>
      <div class="container">
        {% if messages %}
          {% for message in  messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}   {% endblock %}
      </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>